<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()">
            <input type="text" name="termino" class="form-control" [(ngModel)]="termino" placeholder="Buscar pais" />
        </form>
    </div>
</div>

<hr class="text-dark">

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino buscado {{termino}}
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>
</div>